<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Search Results</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="results.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a class="icon" aria-hidden="true">⚖<span>SCC</span></a>
            </div>
            <div class="nav-tab">
                <a href="/" class="btn">Back to Search</a>
            </div>
        </nav>
    </header>


    <main>
<!-- Displaying search results or error messages -->
        <section class="main-content">
            <% if (error) { %>
                <div class="alert"><%= error %></div>
                    <% } else if (results.length === 0) { %>
                <h2 class="alert">No cases found.</h2>
                <% } else { %>
                    <ul>
                        <% results.forEach(function(caseItem) { %>
                        <li style="font-size: 2rem;"><strong><%= caseItem.title %></strong></li>
                        <li>Date : <%= caseItem.date %></li>
                        <li>Citation : <%= caseItem.citation %></li>
                        <li>Court : <%= caseItem.court %></li>
                        <li>Judges : <%= caseItem.judges %></li>
                        <li>Majority Opinion : <%= caseItem.majorityOpinion %></li>
                        <li>Source : <%= caseItem.sourceLabel %></li>
                        <li>Description: <%= caseItem.description %></li>
                        <!--li style="margin-bottom: 3rem;">
                            <a href="<%= caseItem.articleUrl %>" target="_blank" rel="noopener">
                                <%= caseItem.articleUrl %>
                            </a>
                        </li-->
                        <% }); %>
                        <br><br><br>
                    </ul>
            <% } %>
        </section>
    </main>
<!-- footer section-->
    <footer>
        <h4>A PROJECT BY</h4>
        <div class="logo-footer">
            <img src="/GOiF_Logo.png" alt="Global Open Initiative Foundation Logo" />
        </div>
    </footer>

    <!--script src="script.js"></script-->
</body>
</html>
