<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Search Results</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="results.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/" class="icon" aria-label="Home">⚖<span>SCC</span></a>
            </div>
            <div class="nav-tab">
                <a href="/" class="btn"><i class="fas fa-arrow-left"></i> Back to Search</a>
            </div>
        </nav>
    </header>


    <main>
<!-- Displaying search results or error messages -->
        <section class="main-content">
            <% if (error) { %>
                <div class="alert"><%= error %></div>
                    <% } else if (results.length === 0) { %>
                <h2 class="alert">No cases found.</h2>
                <% } else { %>
                    <ul>
                        <% results.forEach(function(caseItem) { %>
                        <li class="case-list-item">
                            <strong style="font-size: 1.3rem;"><%= caseItem.title %></strong><br>
                            Date: <%= caseItem.date %><br>
                            Citation: <%= caseItem.citation %><br>
                            Court: <%= caseItem.court %><br>
                            Judges: <%= caseItem.judges %><br>
                            Majority Opinion: <%= caseItem.majorityOpinion %><br>
                            Source: <%= caseItem.sourceLabel %><br>
                            Description: <%= caseItem.description %>
                        </li>
                        <% }); %>
                    </ul>
            <% } %>
        </section>
    </main>
<!-- footer section-->
    <footer>
        <h4>A PROJECT BY</h4>
        <div class="logo-footer">
            <img src="/GOiF_Logo.png" alt="Global Open Initiative Foundation Logo" />
        </div>
    </footer>

    <!--script src="script.js"></script-->
</body>
</html>
